.App {
  display: block;
  margin: auto;
  background-color: rgb(48, 62, 78);
  color: white;
}

/* h1 {
  border-bottom: solid;
} */

/* .title {
  color: white;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
} */

.text {
  color: white;
  text-align: left;
  font-size: 30px;
  text-decoration: none;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
